.splide {
  padding-top: 0 !important;
}

/* 矢印 */
.splide__arrows {
  /* position: relative !important; */
  display: block !important;
  box-sizing: border-box !important;
  user-select: none !important;
  touch-action: pan-y !important;
}
.splide__arrows--ltr{
}
.splide__arrow {
  top: 50% !important;
  width: calc(( 30 / 1280 ) *100vw ) !important;
  height: calc(( 140 / 1280 ) *100vw )!important;
  max-width: 30px !important;
  max-height: 140px !important;
  border-radius: 4px !important;
  transition: all .2s !important;

  cursor: pointer !important;
  display: block !important;
  width: calc((100vw / 750 ) * 40 ) !important;
  height: calc((100vw / 750 ) * 160 ) !important;
  border-radius: 1.06666vw !important;
  border: solid 2px #ccc !important;
  background-color: #fff !important;
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}
.splide__arrow::before {
  height: 12px  !important;
  width: 24px  !important;
  content: "";
  display: block;
  height: calc((100vw / 750 ) * 17 );
  width: calc((100vw / 750 ) * 34 );
  background: url(/img/pokemon/arrow.svg) no-repeat;
  background-size: contain;
  position: absolute;
  top: 50% !important;
  left: 50% !important;
}
.splide__arrow--next::before{
  transform: translate(-50%,-50%) rotate(270deg);
}
.splide__arrow--prev{
}
.splide__arrow--prev::before{
   transform: translate(-50%,-50%) rotate(90deg);
}
.splide__arrow--next{
}